<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Club Page</title>
  </head>
  <body>
    <div class="top">
      <% if (user) { %>
      <h3 class="loggedIn">Membership Status: Member</h3>
      <h3 class="loggedIn">Welcome back <%= user.username %></h3>
      <% } else { %>
      <h3 class="loggedOut">Membership Status: Viewer</h3>
      <h3 class="loggedOut">You have to be logged in to see who posted!</h3>
      <% } %>
    </div>
    <h1>Messages:</h1>
    <div class="messages">
      <% messages.map((obj) => { %> <% if (user) { %>
      <div class="messageDiv">
        <h3>Name: <%= obj.firstname + ' ' + obj.lastname %></h3>
        <h3>Title: <%= obj.title %></h3>
        <h3>Message: <%= obj.message %></h3>
        <h3>Date: <%= obj.date_added %></h3>
        <button class="deleteButton">Delete</button>
      </div>
      <% } else { %>
      <div class="messageDiv">
        <h3>Title: <%= obj.title %></h3>
        <h3>Message: <%= obj.message %></h3>
      </div>
      <% } %> 
    <% }) %>
    </div>
    <div class="bottomRow">
      <button type="button"><a href="/">Back To Main Menu</a></button>
      <button type="button"><a href="/createMessage">Create Message</a></button>
    </div>
  </body>
</html>
