<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <% if (page === "login") {%> <%- include('partials/navBar') %>
    <div class="mainBody"><%- include('partials/login') %></div>
    <% } else if (page === "signUp") { %> <%- include('partials/navBar') %>
    <div class="mainBody"><%- include('partials/signUp') %></div>
    <% } else if (page === "newFolderForm") { %> <%-
    include('partials/navBarSignedIn')%>
    <div class="mainBody"><%- include('partials/newFolder') %></div>
    <% } else if (page === "uploadFile") { %> <%-
    include('partials/navBarSignedIn') %>
    <div class="mainBody"><%- include('partials/uploadFile') %></div>
    <% } else if (page === "home") { %> <% if (!user) { %> <%-
    include('partials/navBar') %>
    <div class="mainBody">
      <h1>Welcome to the home page, become a user and see what happens.</h1>
    </div>
    <% } else { %> <%- include('partials/navBarSignedIn') %>
    <div class="mainBody">
      <h1>Welcome to the home page, <%= user.fullname %></h1>
      <button><a href="/uploadFile">Upload new files?</a></button>
      <button><a href="/newFolder">Make New Folder?</a></button>
    </div>
    <% if (folders.length !== 0) { %>
    <div>
      <h3>Folders:</h3>
      <% folders.map(folder => { %>
      <button>
        <a href="/folder/<%= folder.name %>"><%= folder.name %></a>
      </button>
      <% }) %>
    </div>
    <% } %> <% } %> <% } %>
  </body>
</html>
