<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
      <%- include('partials/navBarSignedIn') %>
      <div class="mainBody">
        <button><a href="/folder/<%= folderName %>/uploadFile">Upload new files?</a></button>
        <div>
          <h2>Files:</h2>
          <% files.map(file => { %>
            <h3>File Uploaded:</h3>
            <img src="/<%= file.filepath.replace(/\\/g, '/') %>" alt="<%= file.filename %>" class="fileImg">
            <form action="/folder/<%= folderName %>/delete" method="POST" style="display: inline">
              <input type="hidden" name="fileId" value="<%= file.id %>" />
              <button type="submit" class="deleteButton">Delete</button>
            </form>
            <% }) %>
      </div>
  </body>
</html>